* {
  margin: 0;
  padding: 0;
}

.gridGral {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  width: 100%;
  height: auto;
}

main {
  background-image: url(../img/fondoMain.jpg);
}
main h1 {
  border-bottom: solid black;
  font-size: 2.5rem;
}
main h2 {
  font-size: 30px;
}
main h3 {
  font-size: 26px;
}
main p {
  font-size: 20px;
}

.img-fluida {
  width: 100%;
  height: auto;
}

.ml-2 {
  margin-left: 20px;
}

.mr-2 {
  margin-right: 20px;
}

.pl-2 {
  padding-left: 20px;
}

.pr-2 {
  padding-right: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mt-2 {
  margin-top: 20px;
}

.center {
  text-align: center;
}

header {
  display: flex;
  background-color: #d87524;
}
header .buscadorText {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}
header .btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid black;
  border-radius: 0.375rem;
}
header .btn:hover {
  color: black;
  border-color: black;
  background-color: rgb(100, 100, 100);
}
@media only screen and (min-width: 1024px) {
  header {
    justify-content: space-between;
  }
  header .logo {
    position: relative;
    left: 40px;
  }
  header .buscador {
    position: relative;
    top: 15px;
    right: 20px;
  }
  header .img-user {
    position: relative;
    top: 40px;
    left: 50px;
  }
  header .img-carrito {
    position: relative;
    top: 40px;
    left: 70px;
  }
}
@media only screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
  }
  header nav {
    width: 70%;
  }
  header .logo {
    position: relative;
    right: 100px;
  }
  header .buscador {
    position: relative;
    bottom: 200px;
    left: 65px;
  }
  header .buscador .buscadorText {
    width: 100px;
  }
  header .img-user {
    position: relative;
    bottom: 180px;
    left: 100px;
  }
  header .img-carrito {
    position: relative;
    bottom: 180px;
    left: 125px;
  }
  header .nav {
    position: relative;
    left: 30px;
  }
}

footer {
  background-color: #d87524;
}
@media only screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  footer .redes {
    display: flex;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1024px) {
  footer {
    display: grid;
    grid-template-areas: "logo redes contacto" "copy copy copy";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
  footer .logo {
    grid-area: logo;
  }
  footer .redes {
    grid-area: redes;
  }
  footer .mediosContacto {
    grid-area: contacto;
  }
  footer .copy {
    grid-area: copy;
  }
  footer .logo {
    position: relative;
    top: 18px;
  }
  footer .redes {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
    height: 60%;
  }
  footer .mediosContacto {
    position: relative;
    top: 30px;
    height: 80%;
  }
}

.mainGridIndex {
  display: grid;
  grid-template-areas: "titulo titulo" "iframe infoHistoria" "delivery delivery" "pedidosYa pedidosYa" "imgGif imgGif";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto;
}
.mainGridIndex .titulo {
  grid-area: titulo;
}
.mainGridIndex .iframe {
  grid-area: iframe;
}
.mainGridIndex .infoHistoria {
  grid-area: infoHistoria;
}
.mainGridIndex .delivery {
  grid-area: delivery;
}
.mainGridIndex .pedidosYa {
  grid-area: pedidosYa;
}
.mainGridIndex .imgGif {
  grid-area: imgGif;
}
.mainGridIndex .infoHistoria {
  display: flex;
  border: double black;
  flex-wrap: wrap;
  justify-content: center;
}
.mainGridIndex .delivery {
  margin-left: 150px;
  margin-right: 150px;
}
@media only screen and (max-width: 768px) {
  .mainGridIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .mainGridIndex .delivery {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.mainGridPanaderia {
  display: grid;
  grid-template-areas: "titulo titulo titulo titulo" "pan facturas mGrasa mManteca" "cremona panNegro moldeSalvado moldeBlanco" "grisines panCampo bizcochitos chipacitos" "prepizzas empanadas tartaJYQ tartaVerduras";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto auto auto auto;
}
.mainGridPanaderia .titulo {
  grid-area: titulo;
}
.mainGridPanaderia .pan {
  grid-area: pan;
}
.mainGridPanaderia .facturas {
  grid-area: facturas;
}
.mainGridPanaderia .mGrasa {
  grid-area: mGrasa;
}
.mainGridPanaderia .mManteca {
  grid-area: mManteca;
}
.mainGridPanaderia .cremona {
  grid-area: cremona;
}
.mainGridPanaderia .panNegro {
  grid-area: panNegro;
}
.mainGridPanaderia .moldeSalvado {
  grid-area: moldeSalvado;
}
.mainGridPanaderia .moldeBlanco {
  grid-area: moldeBlanco;
}
.mainGridPanaderia .grisines {
  grid-area: grisines;
}
.mainGridPanaderia .panCampo {
  grid-area: panCampo;
}
.mainGridPanaderia .bizcochitos {
  grid-area: bizcochitos;
}
.mainGridPanaderia .prepizzas {
  grid-area: prepizzas;
}
.mainGridPanaderia .empanadas {
  grid-area: empanadas;
}
.mainGridPanaderia .tartaJYQ {
  grid-area: tartaJYQ;
}
.mainGridPanaderia .tartaVerduras {
  grid-area: tartaVerduras;
}
.mainGridPanaderia .chipacitos {
  grid-area: chipacitos;
}
.mainGridPanaderia div {
  margin-bottom: 5px;
}
.mainGridPanaderia div img {
  border-radius: 0.5rem;
}
.mainGridPanaderia div h3 {
  color: rgb(30, 33, 37);
}
.mainGridPanaderia div h3:hover {
  background-color: rgb(252, 174, 57);
  transition: all 0.3s;
  border-radius: 1rem;
}
@media only screen and (max-width: 768px) {
  .mainGridPanaderia {
    display: grid;
    grid-template-areas: "titulo" "pan" "facturas" "mGrasa" "mManteca" "cremona" "panNegro" "moldeSalvado" "moldeBlanco" "grisines" "panCampo" "bizcochitos" "chipacitos" "prepizzas" "empanadas" "tartaJYQ" "tartaVerduras";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }
  .mainGridPanaderia .titulo {
    grid-area: titulo;
  }
  .mainGridPanaderia .pan {
    grid-area: pan;
  }
  .mainGridPanaderia .facturas {
    grid-area: facturas;
  }
  .mainGridPanaderia .mGrasa {
    grid-area: mGrasa;
  }
  .mainGridPanaderia .mManteca {
    grid-area: mManteca;
  }
  .mainGridPanaderia .cremona {
    grid-area: cremona;
  }
  .mainGridPanaderia .panNegro {
    grid-area: panNegro;
  }
  .mainGridPanaderia .moldeSalvado {
    grid-area: moldeSalvado;
  }
  .mainGridPanaderia .moldeBlanco {
    grid-area: moldeBlanco;
  }
  .mainGridPanaderia .grisines {
    grid-area: grisines;
  }
  .mainGridPanaderia .panCampo {
    grid-area: panCampo;
  }
  .mainGridPanaderia .bizcochitos {
    grid-area: bizcochitos;
  }
  .mainGridPanaderia .prepizzas {
    grid-area: prepizzas;
  }
  .mainGridPanaderia .empanadas {
    grid-area: empanadas;
  }
  .mainGridPanaderia .tartaJYQ {
    grid-area: tartaJYQ;
  }
  .mainGridPanaderia .tartaVerduras {
    grid-area: tartaVerduras;
  }
  .mainGridPanaderia .chipacitos {
    grid-area: chipacitos;
  }
  .mainGridPanaderia div img {
    width: 85%;
    height: auto;
  }
}

.mainGridConfiteria {
  display: grid;
  grid-template-areas: "titulo titulo titulo titulo" "pastaFrola tartaRicota lemonPie budin" "cheesFramb cheesFrutosRojos chocotorta brownie" "muffins masasSecas alfajorMaicena pepas" "sandwichMigaJYQ sandwichMigaJYQ sandwichMigaEspecial sandwichMigaEspecial";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto auto auto auto;
}
.mainGridConfiteria .titulo {
  grid-area: titulo;
}
.mainGridConfiteria .pastaFrola {
  grid-area: pastaFrola;
}
.mainGridConfiteria .tartaRicota {
  grid-area: tartaRicota;
}
.mainGridConfiteria .lemonPie {
  grid-area: lemonPie;
}
.mainGridConfiteria .budin {
  grid-area: budin;
}
.mainGridConfiteria .cheesFramb {
  grid-area: cheesFramb;
}
.mainGridConfiteria .cheesFrutosRojos {
  grid-area: cheesFrutosRojos;
}
.mainGridConfiteria .chocotorta {
  grid-area: chocotorta;
}
.mainGridConfiteria .brownie {
  grid-area: brownie;
}
.mainGridConfiteria .muffins {
  grid-area: muffins;
}
.mainGridConfiteria .masasSecas {
  grid-area: masasSecas;
}
.mainGridConfiteria .alfajorMaicena {
  grid-area: alfajorMaicena;
}
.mainGridConfiteria .pepas {
  grid-area: pepas;
}
.mainGridConfiteria .sandwichMigaJYQ {
  grid-area: sandwichMigaJYQ;
}
.mainGridConfiteria .sandwichMigaEspecial {
  grid-area: sandwichMigaEspecial;
}
.mainGridConfiteria div {
  margin-bottom: 5px;
}
.mainGridConfiteria div img {
  border-radius: 0.5rem;
}
.mainGridConfiteria div h3 {
  color: rgb(30, 33, 37);
}
.mainGridConfiteria div h3:hover {
  background-color: rgb(252, 174, 57);
  transition: all 0.3s;
  border-radius: 1rem;
}
@media only screen and (max-width: 768px) {
  .mainGridConfiteria {
    display: grid;
    grid-template-areas: "titulo" "pastaFrola" "tartaRicota" "lemonPie" "budin" "cheesFramb" "cheesFrutosRojos" "chocotorta" "brownie" "muffins" "masasSecas" "alfajorMaicena" "pepas" "sandwichMigaJYQ" "sandwichMigaEspecial";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }
  .mainGridConfiteria .titulo {
    grid-area: titulo;
  }
  .mainGridConfiteria .pastaFrola {
    grid-area: pastaFrola;
  }
  .mainGridConfiteria .tartaRicota {
    grid-area: tartaRicota;
  }
  .mainGridConfiteria .lemonPie {
    grid-area: lemonPie;
  }
  .mainGridConfiteria .budin {
    grid-area: budin;
  }
  .mainGridConfiteria .cheesFramb {
    grid-area: cheesFramb;
  }
  .mainGridConfiteria .cheesFrutosRojos {
    grid-area: cheesFrutosRojos;
  }
  .mainGridConfiteria .chocotorta {
    grid-area: chocotorta;
  }
  .mainGridConfiteria .brownie {
    grid-area: brownie;
  }
  .mainGridConfiteria .muffins {
    grid-area: muffins;
  }
  .mainGridConfiteria .masasSecas {
    grid-area: masasSecas;
  }
  .mainGridConfiteria .alfajorMaicena {
    grid-area: alfajorMaicena;
  }
  .mainGridConfiteria .pepas {
    grid-area: pepas;
  }
  .mainGridConfiteria .sandwichMigaJYQ {
    grid-area: sandwichMigaJYQ;
  }
  .mainGridConfiteria .sandwichMigaEspecial {
    grid-area: sandwichMigaEspecial;
  }
  .mainGridConfiteria div img {
    width: 85%;
    height: auto;
  }
}

.mainGridSucursales {
  display: grid;
  grid-template-areas: "titulo titulo" "imgSucursales iframeSucursales" "textoVisita textoVisita" "textoVisita textoVisita" "textoRedes textoRedes" "gifFlecha gifFlecha";
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto auto auto auto auto;
}
.mainGridSucursales .titulo {
  grid-area: titulo;
}
.mainGridSucursales .imgSucursales {
  grid-area: imgSucursales;
}
.mainGridSucursales .iframeSucursales {
  grid-area: iframeSucursales;
}
.mainGridSucursales .textoVisita {
  grid-area: textoVisita;
}
.mainGridSucursales .textoRedes {
  grid-area: textoRedes;
}
.mainGridSucursales .gifFlecha {
  grid-area: gifFlecha;
}
.mainGridSucursales .textoVisita {
  margin-left: 150px;
  margin-right: 150px;
}
@media only screen and (max-width: 768px) {
  .mainGridSucursales {
    display: grid;
    grid-template-areas: "titulo" "imgSucursales" "iframeSucursales" "textoVisita" "textoRedes" "gifFlecha";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .mainGridSucursales .titulo {
    grid-area: titulo;
  }
  .mainGridSucursales .imgSucursales {
    grid-area: imgSucursales;
  }
  .mainGridSucursales .iframeSucursales {
    grid-area: iframeSucursales;
  }
  .mainGridSucursales .textoVisita {
    grid-area: textoVisita;
  }
  .mainGridSucursales .textoRedes {
    grid-area: textoRedes;
  }
  .mainGridSucursales .gifFlecha {
    grid-area: gifFlecha;
  }
  .mainGridSucursales .textoVisita {
    margin-left: 15px;
    margin-right: 15px;
  }
  .mainGridSucursales .gifFlecha {
    display: none;
  }
}

.mainGridContacto {
  display: grid;
  grid-template-areas: "titulo titulo" "textoForm textoForm" "form textoVisita" "form textoRedes" "form gifFlecha";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto;
}
.mainGridContacto .titulo {
  grid-area: titulo;
}
.mainGridContacto .textoForm {
  grid-area: textoForm;
}
.mainGridContacto .form {
  grid-area: form;
}
.mainGridContacto .textoVisita {
  grid-area: textoVisita;
}
.mainGridContacto .textoRedes {
  grid-area: textoRedes;
}
.mainGridContacto .gifFlecha {
  grid-area: gifFlecha;
}
.mainGridContacto .form {
  border-radius: 10px;
}
.mainGridContacto input {
  background-color: #fbfbfb;
  width: 85%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #d87524;
}
.mainGridContacto textarea {
  background-color: #fbfbfb;
  width: 85%;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #d87524;
}
.mainGridContacto label {
  display: block;
  float: center;
}
.mainGridContacto button {
  height: 45px;
  text-transform: uppercase;
  background-color: #d87524;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  width: 85%;
  margin-bottom: 2px;
}
.mainGridContacto button:hover {
  background-color: rgb(187, 181, 175);
}
.mainGridContacto button p {
  color: black;
}
@media only screen and (max-width: 768px) {
  .mainGridContacto {
    display: grid;
    grid-template-areas: "titulo" "textoForm" "form" "textoVisita" "textoRedes";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
  }
  .mainGridContacto .titulo {
    grid-area: titulo;
  }
  .mainGridContacto .textoForm {
    grid-area: textoForm;
  }
  .mainGridContacto .form {
    grid-area: form;
  }
  .mainGridContacto .textoVisita {
    grid-area: textoVisita;
  }
  .mainGridContacto .textoRedes {
    grid-area: textoRedes;
  }
  .mainGridContacto .form {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .mainGridContacto .gifFlecha {
    display: none;
  }
  .mainGridContacto .textoRedes, .mainGridContacto .textoVisita {
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

header .img-user:hover {
  background-color: #a0561a;
  border-radius: 1rem;
  transition: all 0.5s;
}
header .img-carrito:hover {
  background-color: #a0561a;
  border-radius: 5px;
  transition: all 0.5s;
}

main .delivery a, main .textoVisita a {
  color: rgb(209, 117, 4);
}
main .delivery a:hover, main .textoVisita a:hover {
  border-bottom: solid rgb(73, 72, 72);
  border-top: solid rgb(73, 72, 72);
  transition: all 0.1s;
}
@keyframes zoom {
  0% {
    transform: scale(0.7, 0.7);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.7, 0.7);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.7, 0.7);
  }
}
main .img-pedidosYa {
  animation-name: zoom;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 1s;
}

footer .img-facebook:hover {
  width: 60px;
  height: 60px;
  transition: all 0.5s;
}
footer .img-instagram:hover {
  width: 60px;
  height: 60px;
  transition: all 0.5s;
}
footer .img-twitter:hover {
  width: 60px;
  height: 60px;
  transition: all 0.5s;
}
footer .img-youtube:hover {
  width: 60px;
  height: 60px;
  transition: all 0.5s;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.menuHorizontal {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .menuHorizontal {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1024px) {
  .menuHorizontal {
    position: relative;
    top: 60px;
    right: 140px;
  }
}

.menuHorizontal > li > a {
  display: block;
}

.menuVertical {
  position: absolute;
  display: none;
  list-style: none;
  background-color: white;
}

.menuHorizontal li:hover .menuVertical {
  display: block;
  border-radius: 10px;
}

.menuVertical li:hover {
  background-color: rgb(187, 181, 175);
}

.menuVertical li a {
  display: block;
  color: black;
  text-decoration: none;
}

header nav ul li {
  list-style-type: none;
  padding: 5px;
}

nav li:hover {
  background-color: #a0561a;
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
