.mainGridConfiteria{
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo titulo"
    "pastaFrola tartaRicota lemonPie budin"
    "cheesFramb cheesFrutosRojos chocotorta brownie"
    "muffins masasSecas alfajorMaicena pepas"
    "sandwichMigaJYQ sandwichMigaJYQ sandwichMigaEspecial sandwichMigaEspecial";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto;
    .titulo{grid-area: titulo;}
    .pastaFrola{grid-area: pastaFrola;}
    .tartaRicota{grid-area: tartaRicota;}
    .lemonPie{grid-area: lemonPie;}
    .budin{grid-area: budin;}
    .cheesFramb{grid-area: cheesFramb;}
    .cheesFrutosRojos{grid-area: cheesFrutosRojos;}
    .chocotorta{grid-area: chocotorta;}
    .brownie{grid-area: brownie;}
    .muffins{grid-area: muffins;}
    .masasSecas{grid-area: masasSecas;}
    .alfajorMaicena{grid-area: alfajorMaicena;}
    .pepas{grid-area: pepas;}
    .sandwichMigaJYQ{grid-area: sandwichMigaJYQ;}
    .sandwichMigaEspecial{grid-area: sandwichMigaEspecial;}
    div{
        margin-bottom: 5px;
        img{border-radius: .5rem;}
        h3{
            color: rgb(30, 33, 37);
            &:hover{
                background-color: rgb(252, 174, 57);
                transition: all .3s;
                border-radius: 1rem;
            }
        }
    }
    @media only screen and (max-width: 768px){
    display: grid;
    grid-template-areas: 
    "titulo"
    "pastaFrola" 
    "tartaRicota" 
    "lemonPie" 
    "budin"
    "cheesFramb" 
    "cheesFrutosRojos" 
    "chocotorta" 
    "brownie"
    "muffins" 
    "masasSecas" 
    "alfajorMaicena" 
    "pepas"
    "sandwichMigaJYQ" 
    "sandwichMigaEspecial";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    .titulo{grid-area: titulo;}
    .pastaFrola{grid-area: pastaFrola;}
    .tartaRicota{grid-area: tartaRicota;}
    .lemonPie{grid-area: lemonPie;}
    .budin{grid-area: budin;}
    .cheesFramb{grid-area: cheesFramb;}
    .cheesFrutosRojos{grid-area: cheesFrutosRojos;}
    .chocotorta{grid-area: chocotorta;}
    .brownie{grid-area: brownie;}
    .muffins{grid-area: muffins;}
    .masasSecas{grid-area: masasSecas;}
    .alfajorMaicena{grid-area: alfajorMaicena;}
    .pepas{grid-area: pepas;}
    .sandwichMigaJYQ{grid-area: sandwichMigaJYQ;}
    .sandwichMigaEspecial{grid-area: sandwichMigaEspecial;}
        div{
            img{
                width: 85%;
                height: auto;
            }
        }
    }
}