.mainIndex{
    background-image: url(../img/fondoMain.jpg);
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "iframe infoHistoria"
    "delibery delibery"
    "pedidosYa pedidosYa"
    "imgGif imgGif";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    .titulo{grid-area: titulo;}
    .iframe{grid-area: iframe;}
    .infoHistoria{grid-area: infoHistoria;}
    .delibery{grid-area: delibery;}
    .pedidosYa{grid-area: pedidosYa;}
    .imgGif{grid-area: imgGif;}
    .infoHistoria{
        display: flex;
        border: double black;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media only screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}